{{ copyright_holder_name }} Proprietary Software License

Copyright (c) {{ copyright_year }} {{ copyright_holder_name }}. All Rights Reserved.

This software and associated documentation files (the "Software") are the
proprietary and confidential information of {{ copyright_holder_name }}.

NO LICENSE, EXPRESS OR IMPLIED, IS GRANTED TO ANY PERSON OR ENTITY TO USE,
COPY, MODIFY, MERGE, PUBLISH, DISTRIBUTE, SUBLICENSE, SELL, REVERSE ENGINEER,
DECOMPILE, DISASSEMBLE, OR CREATE DERIVATIVE WORKS OF THIS SOFTWARE, IN WHOLE
OR IN PART, FOR ANY PURPOSE WHATSOEVER.

The Software is protected by copyright laws and international treaty provisions.
Unauthorized use, reproduction, or distribution of this Software or any portion
of it may result in severe civil and criminal penalties, and will be prosecuted
to the maximum extent possible under law.

For licensing inquiries, contact: [{{ copyright_holder_email }}]
